
body {
    background-color: #F9F9F9;
}

.App {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #2c3e50;

    .fa-github {
        vertical-align: middle;
    }

    .author {
        font-size: 12px;
    }
}

.react-header {

    header {
        background-color: #fff;
        box-sizing: border-box;
        height: 70px;
        padding: 0px 20px;
    }

    .banner-lists {
        margin-bottom: 20px;
        height: 160px!important;
        
        .title-list {
            margin-top: 42px!important;
            font-size: 40px!important;
        }

        .desc-list {
            font-size: 24px!important;
        }
    }
    
    .logo {
        float: left;
        height: 80px;
        margin-top: -15px;
    }

    .header-tools {
        clear: both;
        width: 300px;
        margin: 20px auto;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 5px;
        color: #666;
        overflow: hidden;
        box-shadow: 0px 0.1em 0.3em rgba(0, 0, 0, 0.1);

        .tool {
            box-sizing: border-box;
            width: 25%;
            padding: 10px 0;
            text-align: center;
            float: left;
            cursor: pointer;

            transition: all 0.4s;

            &.preview-active {
                background-color: #0781c0;
                color: rgba(255, 255, 255, 0.75);

                &:hover {
                    background-color: #0671a9;
                    color: rgba(255, 255, 255, 0.75);
                }
            }

            p {
                font-family: Verdana;
                font-size: 10px;
            }

            &:hover {
                background-color: #eee;
                color: #2c3e50;
            }

            &.first {
                border: 0;
            }
        }
    }
}

.react-list-block {
    
    &.preview-mode {

        .change-block-color,
        .create-new-category,
        .delete-category,
        .create-new-list,
        .delete-icon,
        .config-icon {
            display: none!important;
        }

        .react-category{
            &:hover{
                background-color: #fff!important;
                border: 2px solid transparent!important;
            }
        }
    }

    .input-change-text {
        color: inherit;
        font-size: inherit;
        
        outline: none;
        border: 0!important;
        padding: 10px 0;
        width: 100%;
        background-color: transparent;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, 0.5);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.5);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(255, 255, 255, 0.5);
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .react-block {
        position: relative;

        &:hover {
            .change-block-color {
                position: absolute;
                top: 0;
                right: 15px;
                padding: 10px;
                color: #2c3e50;
                background-color: #ececec;
                display: block;

                &:hover {
                    background-color: #e5e5e5
                }
            }
        }

        .change-block-color {
            cursor: pointer;
            display: none;
        }

        .create-new-category {
            color: #2c3e50;
            width: 100%;
            height: 100px;

        }

        .react-category {
            position: relative;

            &:hover {
                .delete-category {
                    display: block;
                }
            }
            .delete-category {
                display: none;
                background-color: #eee;
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 10px;

                &:hover {
                    background-color: #ddd;
                }
            }
            &.categoria{
                border: 2px solid transparent;
                transition: background-color 0.2s;

                &:hover{
                    background-color: #fffffc;
                    border: 2px solid #cacaca;
                }

                .category-title {
                    text-align: center;
                    margin-bottom: 15px;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                .create-new-list {
                    color: #2c3e50;
                    box-sizing: border-box;
                    line-height: 40px;
                    position: relative;
                    border-radius: 40px;
                    width: auto;
                    padding: 0 50px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    background-color: #ececec;

                    transition: background-color 0.1s, color 0.1s;

                    &:hover {
                        background-color: #34495e;
                        color: #ecf0f1;
                    }
                }

            }
            .react-list {
                &.link {
                    a {
                        transition: all 0.4s;
                    }

                    &[data-hasdiscount="false"]{
                        .list-title {
                            text-align: center;
                        }
                    }

                    &:hover {
                        .config-icon {
                            visibility: visible;
                        }
                    }

                    .no-ico {
                        display: inline-block;
                        background: #edf9ff;
                        line-height: 40px;
                        box-sizing: border-box;
                        color: #4a90e2;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    .no-link {
                        background-color: #d0d0d0!important;
                        color: #455a6e!important;
                    }

                    .list-title {
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }

                }
            }
        }
    }   
}

.modal {
    padding: 0px;

    width: 400px;
    padding: 20px 0;

    .modal-title {
        margin-bottom: 14px;
        font-weight: bold;
    }

    label {
        width: 100%;
        margin-top: 15px;
        text-align: left;
        box-sizing: border-box;
        padding-right: 0px;

        &.list-discount {
            width: 25%;
        }

        &.list-ico {
            width: 75%;
        }
    }

    .list-input {
        display: block;
        width: 100%;
        padding: 20px 10px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    input[type=submit] {
        border: 0px;
        color: #2c3e50;
        padding: 10px 32px;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #ececec;
        
        transition: background-color 0.1s, color 0.1s;

        &:hover {
            background-color: #34495e;
            color: #ecf0f1;
        }

    }

    textarea{
        width: 100%;
        height: 300px;
    }

    .close-modal {
        color: #aaa;
        background-color: transparent;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            background-color: #eee;
            color: #888;
        }
    }
}

.delete-icon {
    position: absolute;
    top: -8px;
    right: -5px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #34495e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px!important;
    text-align: center;
    font-size: 0.8em!important;
}

.config-icon {
    position: absolute;
    top: -8px;
    right: 30px;
    color: #34495e;
    background-color: #ecf0f1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px!important;
    text-align: center;
    font-size: 0.8em!important;
    visibility: hidden;
}

.clearfix {
    clear: both;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

// .example-enter {
//   opacity: 0.01;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }

// .example-leave {
//   opacity: 1;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }
