
body {
    background-color: #F9F9F9;
}

.react-list-block {
    
    .preview-mode {

    }

    .input-change-text {
        color: inherit;
        font-size: inherit;
        
        outline: none;
        border: 0!important;
        padding: 10px 0;
        width: 100%;
        background-color: transparent;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba(255, 255, 255, 0.5);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.5);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: rgba(255, 255, 255, 0.5);
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .react-block {
        position: relative;

        &:hover {
            .change-block-color {
                position: absolute;
                top: 0;
                right: 15px;
                padding: 10px;
                color: #2c3e50;
                background-color: #ececec;
                display: block;

                &:hover {
                    background-color: #e5e5e5
                }
            }
        }

        .change-block-color {
            cursor: pointer;
            display: none;
        }

        .create-new-category {
            color: #2c3e50;
            width: 100%;
            height: 100px;

        }

        .react-category {
            &.categoria{
                border: 2px solid transparent;
                transition: background-color 0.2s;

                &:hover{
                    background-color: #fffffc;
                    border: 2px solid #cacaca;
                }

                .category-title {
                    text-align: center;
                    margin-bottom: 15px;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: rgba(0, 0, 0, 0.5);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                .create-new-list {
                    color: #2c3e50;
                    box-sizing: border-box;
                    line-height: 40px;
                    position: relative;
                    border-radius: 40px;
                    width: auto;
                    padding: 0 50px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    background-color: #ececec;

                    transition: background-color 0.1s, color 0.1s;

                    &:hover {
                        background-color: #34495e;
                        color: #ecf0f1;
                    }
                }

            }
            .react-list {
                &.link {
                    a {
                        transition: all 0.4s;
                    }

                    &[data-hasdiscount="false"]{
                        .list-title {
                            text-align: center;
                        }
                    }

                    &:hover {
                        .config-icon {
                            visibility: visible;
                        }
                    }

                    .no-ico {
                        display: inline-block;
                        background: #edf9ff;
                        line-height: 40px;
                        box-sizing: border-box;
                        color: #4a90e2;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    .no-link {
                        background-color: #d0d0d0!important;
                    }

                    .list-title {
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }

                }
            }
        }
    }   
}

.modal {
    padding: 0px;

    &.modal-list-config {
        width: 400px;
        padding: 20px 0;

        .modal-title {
            margin-bottom: 14px;
            font-weight: bold;
        }

        label {
            width: 100%;
            margin-top: 15px;
            text-align: left;
            box-sizing: border-box;
            padding-right: 0px;

            &.list-discount {
                width: 25%;
            }

            &.list-ico {
                width: 75%;
            }
        }

        .list-input {
            display: block;
            width: 100%;
            padding: 20px 10px;
            margin-top: 5px;
            box-sizing: border-box;
        }

        input[type=submit] {
            border: 0px;
            color: #2c3e50;
            padding: 10px 32px;
            border-radius: 5px;
            margin-top: 20px;
            background-color: #ececec;
            
            transition: background-color 0.1s, color 0.1s;

            &:hover {
                background-color: #34495e;
                color: #ecf0f1;
            }

        }

        .close-modal {
            color: #aaa;
            background-color: transparent;
            padding: 10px 15px;
            position: absolute;
            top: 0;
            right: 0;

            &:hover {
                background-color: #eee;
                color: #888;
            }
        }
    }
}

.delete-icon {
    position: absolute;
    top: -8px;
    right: -5px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #34495e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px!important;
    text-align: center;
    font-size: 0.8em!important;
}

.config-icon {
    position: absolute;
    top: -8px;
    right: 30px;
    color: #34495e;
    background-color: #ecf0f1;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px!important;
    text-align: center;
    font-size: 0.8em!important;
    visibility: hidden;
}

